// buttons, input, typography ...
/* basic */
.card .card-content p {
	margin: 5px 0;
}

.card--completed {
	left: -75px;
	line-height: 250px;
	position: absolute;
	i {
		color: $green;
		font-size: 44pt;
	}
}

.card--canceled {
	right: -75px;
	line-height: 250px;
	position: absolute;
	i {
		color: $red;
		font-size: 44pt;
	}
}

/* buttons */
.btn-flat--with_icon {
	padding: 0;
}

.btn--speech {
	padding: 0px;
	position: absolute;
	right: 10px;
	top: 7px;
}

.btn--add {
	bottom: 15px;
	position: fixed;
	right: 15px;
}

/* icons */
.icons--p {
	vertical-align: middle;
}

/* main */
.main--settings {
	margin: 5vh 10vw;
	width: 80vw;
}