// buttons, input, typography ...

/* buttons */
.btn-flat--with_icon {
	padding: 0;
}

/* main */
.main--settings {
	margin: 5vh 10vw;
	width: 80vw;
}

.btn--speech {
	padding: 0px;
	position: absolute;
	right: 10px;
	top: 7px;
}