.header__tabs--state-hidden {
	display: none;
}

.checkbox-html:not(:checked), .checkbox-html:checked {
	margin-top: 3px;
	opacity: 1;
	pointer-events: auto;
}

.checkbox-html + label {
	font-size: 1rem;
	line-height: 1.5rem;
	padding-left: 20px;
}

.checkbox-html + label:before, .checkbox-html:not(.filled-in) + label:after {
	border: 0;
	height: inherit;
	width: inherit;
}

.collapsible-header__icon {
	color: color("pink", "lighten-2");
}

.collapsible-header:focus {
	outline: 0;
}

.input-elem-group__input.browser-default {
	border: 1px solid #9e9e9e;
	border-radius: 2.5px;
	font-size: 16px;
	padding: 8px;
	width: 100%;
	&:focus {
		outline: 0;
	}
}

.select-elem.browser-default {
	border: 1px solid #9e9e9e;
}

.input-field > .input-elem-group__label.browser-default,
.input-field > .select-elem__label.browser-default {
	color: #9e9e9e;
	height: 3rem;
	font-size: 1rem;
	top: -34px;
}

.input-field > .input-elem-group__label:not(.label-icon).browser-default.active,
.input-field > .select-elem__label:not(.label-icon).browser-default.active {
	transform: translateY(12px) scale(1);
	transform-origin: 0 0;
}