.voice-elem, .speech-elem {
	opacity: 0;
	&.active {
		opacity: 1;
	}
}

body.night_mode-elem.on {
	background-color: $grey_darken3;
}

.card.night_mode-elem.on {
	background-color: $grey;
	.card-content p, .card-title, .material-icons {
		color: $grey_lighten4;
	}
	.card-action {
		border-top-color: $grey_lighten2;
	}
}

.main--settings.night_mode-elem.on {
	h4, h5 {
		color: $grey_lighten4;
	}
}

.modal.night_mode-elem.on {
	background-color: $grey;
	h4 {
		color: $grey_lighten4;
	}
	input {
		border-bottom-color: $grey_lighten4;
	}
	label {
		color: $grey_lighten4;
	}
	.modal-footer {
		background-color: $grey;
		a {
			color: $grey_lighten4;
		}
	}
}