/* general */
body {
	@extend .grey, .lighten-5;
}

.body__main {
	margin-bottom: 56px;
	overflow-x: hidden;
}

/* app bar */
.header__app-bar {
	@extend nav;
	box-shadow: 0px 0 0 0;
}

.nav-wrapper__a {
	font-size: 20px;
	margin-left: 16px;
	text-align: left;
}

.app-bar-secondary__p {
	@extend .grey-text, .text-darken-1;
	line-height: 32px;
	margin: 0;
	padding: 8px 16px;
}

/* helper classes */
.hidden {
	display: none;
}