/* cards */
.cards-wrapper__card {
	margin-top: 0;
	&:after {
		color: color('red', 'base');
		content: '\e14c';
    	font-family: 'Material Icons';
		font-size: 44pt;
		line-height: 250px;
		right: -75px;
		position: absolute;
		top: 0;
	}
	&:before {
		color: color('green', 'base');
		content: '\e876';
    	font-family: 'Material Icons';
		font-size: 44pt;
		line-height: 250px;
		left: -75px;
		position: absolute;
	}
}

.cards-wrapper__card--hidden {
	display: none;
}

.cards-wrapper__card .card__card-content p {
	margin: 5px 0;
}

.card__action_wrapper--hidden {
	display: none;
}

.card__action_wrapper--completed {
	left: -75px;
	line-height: 250px;
	position: absolute;
	i {
		color: color("green", "base");
		font-size: 44pt;
	}
}

.card__action_wrapper--canceled {
	right: -75px;
	line-height: 250px;
	position: absolute;
	i {
		color: color("red", "base");
		font-size: 44pt;
	}
}

/* buttons */
.btn-flat--with_icon {
	padding: 0;
}

.main__btn--add {
	bottom: calc(16px + 56px); // min distance + bottom nav
	position: fixed;
	right: 16px;
}

/* icons */
.p__icon {
	vertical-align: text-bottom;
}